* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: rgb(54, 54, 54);
}

header {
    background-image: url(Images/cactus-b.jpeg);
    background-position: top;
    background-size: cover;
    margin-bottom: 40px;
    padding: 60px 0;
    color: white;
    height: 320px;
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 3em;
    font-weight: normal;
    padding: 30px 0 80px;
}


nav {
    text-align: center;
    font-size: 1.1em;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    padding: 0 4%;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

nav a:hover {
    color: rgb(61, 206, 32);
}

section {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

section h2{
    text-align: center;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(68, 68, 68);
    margin-bottom: 17px;
}

.shop-item-image {
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.shop-item-discount {
    margin-left: 20px;
    font-size: 14px;
    color: rgb(61, 182, 36);
    font-weight: 700;
    padding: 0 3px;
    border-radius: 20px;
    background-color: #f8dff1;
}

.shop-item-price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-item-price-now {
    font-weight: 700;
    color: #242424;
    font-size: 18px;
    margin-right: 10px;
}

.shop-item-price-last {
    color: #999999;
    font-size: 14px;
}

.btn-primary-center {
    display: flex;
    justify-content: center;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: 0.5em;
    cursor: pointer;
    font-size: 12px;
}

.btn-primary {
    height: 29px;
    width: 157px;
    color: white;
    background-color: rgb(62, 165, 41);
    border: none;
    border-radius: 7px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: rgb(60, 153, 41);
}

.btn-primary:active {
    background-color: rgb(52, 143, 34);
}

.btn-danger {
    width: 80px;
    height: 34px;
    color: rgb(255, 255, 255);
    background-color: rgb(243, 66, 66);
    border: none;
    border-radius: 7px;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: rgb(216, 54, 54);
}

.btn-danger:active {
    background-color: rgb(196, 49, 49);
}

/* Корзина */

.cart-row {
    display: flex;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(194, 194, 194);
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-column:last-child {
    margin-right: 0;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 20px;
    font-weight: 700;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: 0.5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid rgb(41, 157, 165);
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid rgb(196, 196, 196);
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

footer {
    background-color: rgb(206, 206, 206);
    color: #000000;
    text-align: center;
    padding: 40px;
    margin-top: 80px;
    box-shadow: 0px -9px 30px 8px rgb(200, 200, 200);
}